body {
    font-family: sans-serif;
    margin: 0px;
    font-size: 1.5vw;
}

#body-header {
    grid-area: header;
    display: flex;
    background-color: white;
    color: black;
    height: 12vh;
    align-items: center; 
    justify-content: center;
    padding: 16px;
    text-align: center;
}

#logo {
    margin: 0px;
    padding: 8px;
    font-family: sans-serif;
}

#menu-left {
    display: flex;
    list-style: none;
    text-decoration: none;
}

#menu-left > li {
    padding: 8px;
    margin: 3px;
}

#menu-right {
    display: flex;
    list-style: none;
    text-decoration: none;
}

#menu-right > li {
    padding: 8px;
    margin: 3px;
}

.navbutton {
    color: black;
    text-decoration: none;
    padding: 12px;
}

#first-main {
    width: 80%;
    margin: auto;
    /* auto sets the margin to centre  */
}

#main-content {
    display: flex;
    justify-content: space-around;
}

#main-content > div {
    width: 80%;
}

h2 {
    text-align: center;
}

form {
    text-align: center;
}

body > footer {
    background-color: pink;
    color: white;
    display: flex;
    height: 15vh;
    align-items: center; 
    justify-content:space-around;
}

img {
    border-radius: 10%;
    /* gives images a curved border  */
}

#grid-container {
    display: grid;
    grid-template-areas:
    "body-header body-header body-header"
    "first-main second-main second-main"
    "third-main third-main third-main"
    "fourth-main fourth-main fifth-main"
    "footer footer footer"
    ;
    grid-template-columns: 1fr 1fr 1fr;
}