body {
    font-family: sans-serif;
    margin: 0px;
    font-size: 1.5vw;
}

#logo {
    /* is the same as the h1 tag  */
    margin: 0px;
    padding: 8px;
    font-family: "Fredoka One", sans-serif;
}

ul {
    margin: 0px;
}

#main-header {
    background-color: pink;
    color: white;
    display: flex;
    height: 12vh;
    align-items: center; 
    justify-content: center;
}

#nav-ul {
    display: flex;
}

#nav-ul > li {
    padding: 8px;
    margin: 3px;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

.navbutton {
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    border-radius: 8%;
    /* can use this class (.navbutton) instead of the long line: body > header > nav > ul > li > a because we made it an id*/
}

body > main article {
    width: 80%;
    margin: auto;
    /* auto sets the margin to centre  */
}

#main-content {
    display: flex;
    justify-content: space-around;
}

#main-content > div {
    width: 80%;
}

h2 {
    text-align: center;
}

form {
    text-align: center;
}

body > footer {
    background-color: pink;
    color: white;
    display: flex;
    height: 15vh;
    align-items: center; 
    justify-content:space-around;
}

img {
    border-radius: 10%;
    /* gives images a curved border  */
}

#footer-ul {
    display: flex;
    list-style: none;
}

#footer-ul > div > li {
    margin-left: 12px;
}

#footer-ul > div > li > a {
    text-decoration: none;
    color: white;
    padding: 18px;
}